extends ../includes/layout

block main-content
    a.btn.btn-primary(href='courses/add') Add new course
    .container
        .row
            .col-sm-6
                .card(style="width: 18rem;")
                    .card-header Featured
                    ul.list-group.list-group-flush
                        each course in courses.featured
                            li.list-group-item
                                a(href='/courses/' + course._id)= course.title
                                div=course._id
            .col-sm-6
                .card(style="width: 18rem;")
                    .card-header Non Featured
                    ul.list-group.list-group-flush
                        each course in courses.nonfeatured
                            li.list-group-item
                                a(href='/courses/' + course._id)= course.title
                                div=course._id
